@charset "utf-8";
/* CSS Document */
div#containerMapa {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color:#80b706;
	z-index: 0;
}
img#FundoMapa {
	position: absolute;
	left: 0px;
	top: 7px;
	z-index: 1;
}
img#caminhosNaoSelecionado {
	position: absolute;
	left: 26px;
	top: 10px;
	z-index: 2;
}
span#containerArestasSelecionadas {
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 3;	
}
img#pinsNaoSelecionado {
	position: absolute;
	left: 43px;
	top: 23px;
	z-index: 3;
}
img#pinSelecionadoOrigem {
	position: absolute;
	z-index: 4;
}
img#pinSelecionadoDestino {
	position: absolute;
	z-index: 4;
}
img#Labels {
	position: absolute;
	left: 6px;
	top: 4px;
	z-index: 6;
}
div#menu {
	position: absolute;
	width: 250px;
	height: 15%;
	left: 50%;
	margin-left: -125px;
	top: 0px;
	background-color:#999;
	box-shadow: 0px 3px 10px rgba(0,0,0,.6);
	z-index: 7;
}
span#centralizaMenu {
	position: absolute;
	left: 50%;
	margin-left: -100px;
	bottom: 10%;
}
